body {
    display: flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    background-color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: dimgray;
    font-size: 2vw;
}

h1 {
    font-family: 'Montez', cursive, sans-serif;
    margin: 5px 0px 6px 0px;
    font-size: 6vw;
    width:100%
}

#topMsg {
    top: 65%;
    left: 11.5%;
    width: 75%;
    height: 20px;
    position: absolute;
    font-size: 16px;
    padding: 3px 0px 3px;
    border-width:1px;  
    border-style: outset;
    border-radius: 10px;
    background-image: url('https://imgur.com/PkC4Wd0.jpg');
    background-size: 100% 100%;
    font-family: 'Lato', sans-serif;
    color: white;
}

p {
    height: 20px;
    width: 40vw;
    margin: 0px 0px 7px 0px;
    padding: 2px 5px 12px 5px;
    margin-left: 28.5vw;
    font-size: 16px;
}

/* GAME BOARD */

#theDiv {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: 100vh;
    max-width: 100vh;
}

#brdGme {
    height: auto;
    width: 100%;
    max-height: 100vh;
    max-width: 100vh;
    margin-top: 0px;
}

/* GAME HOLES AS BUTTONS */

.c4Hol {
    width: 8.6vmin;
    height: 8.6vmin;
    background:none;
    background-image: url('https://imgur.com/vsLSXq0.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    /*padding: 3%;*/
    cursor: pointer;
    position: absolute;
    outline: 0;
}

.row1 {
    top: 1.7%;
}
.row2 {
    top: 11.5%;
}
.row3 {
    top: 22%;
}
.row4 {
    top: 32%;
}
.row5 {
    top: 42%;
}
.row6 {
    top: 52%;
}

.col1 {
    left: 15%;
}
.col2 {
    left: 25%;
}
.col3 {
    left: 35%;
}
.col4 {
    left: 45%;
}
.col5 {
    left: 55%;
}
.col6 {
    left: 65%;
}
.col7 {
    left: 75%;
}

#replay {
    top: 73%;
    left: 40%;
    font-size: 18px;
    padding: 3px 3px;
    border-width:2px;  
    border-style: outset;
    cursor: pointer;
    border-radius: 5px;
    background-image: url('https://imgur.com/PkC4Wd0.jpg');
    background-size: 100% 100%;
    font-family: 'Lato', sans-serif;
    color: white;
    height: 8%;
    width: 18%; 
    position: absolute;
    letter-spacing: 2px;
}

.explainer {
    position: relative;
    height: auto;
    width: 80vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 7px 0px;
    font-size: 16px;
}

footer {
    display: inline;
    font-size: 16px;
    margin: 100px 0px 0px 0px;
    bottom: 0px;
}